.whitebg {
  background-color: white;
}

.map {
  background-color: #445957;
}

.mapContainer {
  position: relative;
  /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  /* text-align: center; */
  width: 50%;
  height: auto;
  margin: 3vh auto 10vh auto;
}

#map {
  width: auto;
  height: auto;
  position: absolute;
  z-index: 1;
  background-color: #445957;
}

/* #playBtn {
  position: relative;
  width: 200px;
  height: 50px;
  background-image: url(/assets/img/play-icon.svg);
  background-repeat: no-repeat;
  background-color: #445957;
  border: none;
} */

#intro-animated {
  cursor: pointer;
}

#playPauseBtn {
  position: relative;
  width: 200px;
  height: 50px;
  background-image: url("../assets/img/play-icon.svg");
  background-repeat: no-repeat;
  background-color: #445957;
  border: none;
  outline: none;
}

#muteBtn {
  position: relative;
  width: 200px;
  height: 50px;
  background-image: url("../assets/img/unmute-icon.svg");
  background-repeat: no-repeat;
  background-color: #445957;
  border: none;
  outline: none;
}

#playRateBtn {
  position: relative;
  width: 200px;
  height: 50px;
  background-image: url("../assets/img/normalRate-icon.svg");
  background-repeat: no-repeat;
  background-color: #445957;
  border: none;
  outline: none;
}

#skip1 {
  position: relative;
  width: 200px;
  height: 50px;
}

#skip2 {
  position: relative;
  width: 200px;
  height: 50px;
}

.map#gps {
  position: absolute;
  offset-path: path(var(--path));
  background-color: unset;
  z-index: 2;
}

.map-small#gps-small {
  position: absolute;
  offset-path: path(var(--path));
  background-color: unset;
  top: 0;
  width: 1vw;
}

svg g#Marker1 {
  cursor: pointer;
}

.map {
  pointer-events: all;
  cursor: pointer;
}

.map#Pfad_25 {
  pointer-events: all;
  cursor: pointer;
}
.g#marker-map {
  cursor: pointer;
  pointer-events: all;
}

.map#marker-map:hover {
  cursor: pointer;
  pointer-events: all;
}

.visualizer {
  display: flex;
  flex-direction: column;
  width: 50%;
  right: 0;
  position: absolute;
  bottom: 20vh;
  height: 10vh;
  margin-top: 20px;
}

.videoPlayer {
  width: 100%;
  margin-top: 50px;
}

.textContainer {
  display: flex;
  /* align-items: center; */
  margin-left: 20px;
  flex-flow: wrap;
  flex-direction: column;
  bottom: 0;
  width: 30vw;
  height: 400px;
  line-height: 3em;
  overflow: scroll;
  padding: 5px;
  margin-top: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.textContainer::-webkit-scrollbar {
  display: none;
}

#titleDiv {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  position: relative;
  color: white;
}

#textDiv {
  position: relative;
  width: auto;
  color: white;
}

.controls {
  margin-left: 22%;
  margin-top: 5%;
}

.waveform {
  margin-top: 15px;
}

/* button {
    display: none;
}

#wavetrack1, #wavetrack2, #wavetrack3, #wavetrack4, #wavetrackintro {
    display: none;
} */

@keyframes path-animation {
  0% {
    offset-distance: 75.2%;
  }
  100% {
    offset-distance: 50%;
  }
}

@keyframes marker1to2 {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 72.2%;
  }
}

@keyframes marker1-1to2 {
  0% {
    offset-distance: 92%;
  }
  100% {
    offset-distance: 72.2%;
  }
}

@keyframes marker1-2to2 {
  0% {
    offset-distance: 76%;
  }
  100% {
    offset-distance: 72.2%;
  }
}

@keyframes marker1to3 {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 37%;
  }
}

@keyframes marker2to3 {
  0% {
    offset-distance: 72.2%;
  }
  100% {
    offset-distance: 37%;
  }
}

@keyframes marker2to4 {
  0% {
    offset-distance: 72.2%;
  }
  100% {
    offset-distance: 18%;
  }
}

@keyframes marker3to1 {
  0% {
    offset-distance: 37%;
  }
  100% {
    offset-distance: 0%;
  }
}

@keyframes marker3to4 {
  0% {
    offset-distance: 37%;
  }
  100% {
    offset-distance: 18%;
  }
}

@keyframes marker4to1 {
  0% {
    offset-distance: 18%;
  }
  100% {
    offset-distance: 0%;
  }
}

@media screen and (min-width: 2000) {
  .mapContainer {
    width: 70%;
  }
}
